[Desktop Entry]
Categories=Settings;
Exec=biglinux-settings
Icon=biglinux-settings
Name=General Adjustments
Name[bg]=Общи корекции
Name[cs]=Obecné úpravy
Name[da]=Generelle justeringer
Name[de]=Allgemeine Anpassungen
Name[el]=Γενικές Προσαρμογές
Name[es]=Ajustes generales
Name[et]=Üldised kohandused
Name[fi]=Yleiset säätööt
Name[fr]=Ajustements généraux
Name[he]=התאמות כלליות
Name[hr]=Opće prilagodbe
Name[hu]=Általános beállítások
Name[is]=Almennar stillingar
Name[it]=Regolazioni generali
Name[ja]=全般調整
Name[ko]=일반 조정
Name[nl]=Algemene aanpassingen
Name[no]=Generelle justeringer
Name[pl]=Ogólne korekty
Name[pt]=Ajustes gerais
Name[ro]=Ajustări generale
Name[ru]=Общие корректировки
Name[sk]=Všeobecné úpravy
Name[sv]=Generella justeringar
Name[tr]=Genel Ayarlamalar
Name[uk]=Загальні коригування
Name[zh]=常规调整
StartupWMClass=br.com.biglinux-settings
StartupNotify=true
Terminal=false
Type=Application
