.symbolic-icon {
    -gtk-icon-filter: -gtk-recolor();
    color: @window_fg_color;
}

.status-on {
    background-color: @success_color;
}

.status-off {
    background-color: @error_color;
}

.status-unavailable {
    background-color: @insensitive_fg_color;
}
